@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Berlingske-Serif';
  src: url('/fonts/BerlingskeSerif-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Berlingske-Serif', serif;
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}